@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(styles/fonts/rubik-font.ttf) format('truetype');
}

@font-face {
  font-family: 'RubikBold';
  src: local('RubikBold'), url(styles/fonts/Rubik-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  src: local('Rubik'), url(styles/fonts/Lato-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'LatoThin';
  src: local('LatoThin'), url(styles/fonts/Lato-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'LatoBold';
  src: local('LatoBold'), url(styles/fonts/Lato-Bold.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-repeat: repeat;
  background-color: var(--primary) !important;
  background-size: cover;
  color: var(--primary-text) !important;
  font-family: 'Monaco ', monospace !important;
  -webkit-font-smoothing: antialiased;
  opacity: 1;
  transition: background-color 300ms ease-in-out 0s, opacity 800ms ease-in-out 0s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

/* For Chrome */
/* width */
::-webkit-scrollbar {
  @media all and (min-width: 990px) {
    width: 4px;
    height: 2px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; //var(--primary);
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent; // var(--secondary-opacity);
  height: 48px;
  width: 48px;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent; // var(--secondary);
}
